* {
   margin: 0px;
   padding: 0px; 
   box-sizing: inherit;
   /* border: red dotted 4px; */
}

html{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

/*I should have just added these declarations to their selectors 
individually. It is redundant to delineate colors since
there is an image with the listed colors already,*/

.hero, .footer, .header-container {
    background-color: #1F2937;
}

.call-to-action, button {
    background-color: #3882F7;
}

.quote {
    background-color: #E5E7EB;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-text p, .header .links{
    font-size: 18px;
    color: #E5E7EB;
}

.header img {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button, .call-to-action {
    background-color: #3882F6;
}

.information h3 {
    font-size: 36px;
    color: #1F2937
}

.quote {
    background-color: E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937; 
}

/*Just choke up the declarations above as text and color styling.
I'll do everything else below. I promise I won't do this awful 
practice next time...*/

/*REPEATED USE CLASSES*/
.max-width {
    max-width: 1000px;
}

.not-auto-margins {
    display: flex;
    justify-content: center;
    align-content: center;
}
/*=REPEATED USE CLASSES*/

body {
    display: flex;
    flex-direction: column;
}

/*HEADER*/

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    align-items: center;
    flex: 1;
}

.header img {
    width: 15%;
    height: 40px;
    object-fit: cover;
    object-position: 50% 20%;
    min-width: 144px;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 15px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-end;
}

a {
    color: inherit;
    text-decoration: none;
}

/*HERO*/

.hero-content {
    display: flex;
    padding: 50px 20px 100px;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
}

.hero-content img {
    width: 50%;
    object-fit: cover;
    object-position: 50% 10%;
}

/*INFORMATION*/

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 50px 20px;
    flex: 1;
}

.information h3 {
    padding: 0 0 40px;
}

.information-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.information-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.information-content p {
    text-align: center;
}

.information-content img {
    border: 4px #3882F6 solid;
    width: 100%;
    min-width: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}